* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #212121;

}

h1 {
    color: white;
}

#button {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    background-color: red;
    border: 0.1rem solid yellow;
    padding: 1rem;
    border-radius: 2rem;
}

#casuale {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    font-size: 3rem;
    color: white;
}